.htaccess
- analisis -/Book1.xlsx
public/files/hasil/hasil_detail_export_2015-11-25-10-11-24.xlsx
public/files/hasil/hasil_export_565526b34b23e.xlsx
public/files/hasil/hasil_export_56554031c3347.xlsx
public/files/foto/
public/files/hasil/
QR_CACHE_DIRframe_2.dat
QR_LOG_DIRtest.png-errors.txt
application/third_party/phpqrcode/cache/
application/third_party/phpqrcode/temp/
public/temp/
application/controllers/inventory/temp/
test.png
application/third_party/phpqrcode/
media/images/photos/320520040001/torres_signs.jpg
media/images/photos/320520040002/image003.gif
media/images/photos/320520160001/image001.gif
application/config/database.php
